<?xml version="1.0"?>
<!--
/**
 * Copyright 2016 Shockwave-Design - J. & M. Kramer, all rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="smtp">
                <field id="dropbox_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dropbox key</label>
                    <comment><![CDATA[TODO]]></comment>
                    <depends>
                        <field id="storeage">dropbox</field>
                    </depends>
                </field>

                <field id="dropbox_secret" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dropbox secret</label>
                    <comment><![CDATA[TODO]]></comment>
                    <depends>
                        <field id="storeage">dropbox</field>
                    </depends>
                </field>

                <field id="dropbox_user_id" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dropbox User</label>
                    <comment><![CDATA[TODO]]></comment>
                    <source_model>Shockwavedesign\Mail\Dropbox\Model\Config\Source\User</source_model>
                    <depends>
                        <field id="storeage">dropbox</field>
                    </depends>
                </field>

                <field id="dropbox_host_temp_folder_path" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dropbox Temp Host Folder Path</label>
                    <comment><![CDATA[/var/www/sites/html/var/dropbox]]></comment>
                    <depends>
                        <field id="storeage">dropbox</field>
                    </depends>
                </field>

                <field id="uploadlimit" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dropbox Upload Request Limit</label>
                    <comment><![CDATA[10]]></comment>
                    <depends>
                        <field id="storeage">dropbox</field>
                    </depends>
                </field>

                <field id="cachelimit" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dropbox Cache Limit</label>
                    <comment><![CDATA[2]]></comment>
                    <depends>
                        <field id="storeage">dropbox</field>
                    </depends>
                </field>

                <field id="cronlimit" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dropbox Upload Cron Limit</label>
                    <comment><![CDATA[2]]></comment>
                    <depends>
                        <field id="storeage">dropbox</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>

